# Voice Notes/.gitignore

# Ignore node_modules directories in both backend and frontend
backend/node_modules/
frontend/node_modules/
frontend/dist/

# Ignore .env files in both backend and frontend
backend/config.env
frontend/.env

 